{% extends 'quiz/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Quiz{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}">
{% endblock styles %}

{% block content %}

    <h1>Quiz</h1>

    {% if user.is_authenticated %}
        <div style="text-align: right;"><a href="{% url 'logout' %}">Logout</a></div>
    {% endif %}
    <br>

    <p>Ready to take a quiz, {{ user.first_name }}.  To begin, select a category.</p>

    <form action="#" method="post">
        {% csrf_token %}

        <select class="form-select" name="category_pk" id="category">
            <option selected disabled>Category</option>
            {% for category in categories %}
                <option value="{{ category.pk }}">{{ category }}</option>
            {% endfor %}
        </select>

        <br>

        <select class="form-select" name="question_pk" id="question">
            <option selected disabled value="0">Question</option>
        </select>

        <br>

        <select class="form-select" name="answer_pk" id="answer">
            <option selected disabled value="0">Answer</option>
        </select>

        <br>

        <p>Score: <strong>{{ player.score }}</strong> </p>

        <input class="btn btn-primary" type="submit" value="submit" id="submit">

    </form>


{% endblock content %}

{% block javascript %}
    <script src="{% static 'quiz/js/quiz.js' %}"></script>
{% endblock javascript %}
